---
// Imports
import { getCollection } from "astro:content";
import LayoutDefault from '../../layouts/LayoutDefault.astro';
import { CONFIG_BASE } from "../../consts";

// Static Data
const metaTitle = "Portfolio";
const metaDescription = "Discover Alex Spencer's portfolio: innovative web development, unique designs, and coding solutions in HTML, CSS, and React. Based in London, ready for your next project.";

// Dynamic Data & Logic
const items = (await getCollection("articles"))
  .filter(item => item.data.featured === true)
  .sort((a, b) => a.data.order - b.data.order);		
---

<LayoutDefault {metaTitle} {metaDescription}>
	<section class="l-wrapper">
    <ul role="list">

      {items.slice(0, 4).map((item) => (
				<li class="articles | l-switcher">					
					<picture class="articles__picture | l-frame">
						<source 
							srcset={`${CONFIG_BASE}/images/pages/${metaTitle.toLowerCase()}/desktop/image-portfolio-${item.slug}.jpg 1x, ${CONFIG_BASE}/images/pages/${metaTitle.toLowerCase()}/desktop/image-portfolio-${item.slug}@2x.jpg 2x`} 
							media="(min-width: 55.001rem)" 
							type="image/jpg"
						/>
						<source 
							srcset={`${CONFIG_BASE}/images/pages/${metaTitle.toLowerCase()}/tablet/image-portfolio-${item.slug}.jpg 1x, ${CONFIG_BASE}/images/pages/${metaTitle.toLowerCase()}/tablet/image-portfolio-${item.slug}@2x.jpg 2x`} 
							media="(min-width: 40.001rem)" .
							type="image/jpg"
						/>
						<img 
							src={`${CONFIG_BASE}/images/pages/${metaTitle.toLowerCase()}/mobile/image-portfolio-${item.slug}.jpg`} 
							srcset={`${CONFIG_BASE}/images/pages/${metaTitle.toLowerCase()}/mobile/image-portfolio-${item.slug}.jpg 1x, ${CONFIG_BASE}/images/pages/${metaTitle.toLowerCase()}/mobile/image-portfolio-${item.slug}@2x.jpg 2x`} 
							alt={`${item.data.title} Project Image`} 
							width="311"
							height="288"
							loading="lazy"
						/>
					</picture>
					<div class="articles__description">
						<div class="l-stack | u-border--block">
							<h2>{item.data.title}</h2>
							<p>{item.data.description}</p>
						</div>
					</div>
				</li>
      ))}

    </ul>
	</section>
</LayoutDefault>