---
// Imports
import Layout from '../layouts/Layout.astro';
import { CONFIG_BASE } from "../consts.ts";
import CompPicture from '../components/CompPicture.astro';
import CompCard from '../components/CompCard.astro';

// Static Data
const metaTitle = "About";
const metaDescription = "Discover Alex Spencer's journey in web development and design. Based in London, UK, offering innovative web solutions.";
---

<Layout {metaTitle} {metaDescription} class="about" variant="call-to-action">
	<section class="header section | l-wrapper">
		<div class="section__inner | l-columns">
			<div class="section__content | l-columns--3-5 l-region l-box l-flow">
				<h1>About Us</h1>
				<p>Founded in 2010, we are a creative agency that produces lasting results for our clients. We’ve partnered with many startups, corporations, and nonprofits alike to craft designs that make real impact. We’re always looking forward to creating brands, products, and digital experiences that connect with our clients’ audiences.</p>
			</div>
			<CompPicture
				class="l-columns--2-5"
				src={`${CONFIG_BASE}/images/about/mobile/image-about-hero.jpg`}
				srcset={{
					mobile: `${CONFIG_BASE}/images/about/mobile/image-about-hero.jpg`,
					tablet: `${CONFIG_BASE}/images/about/tablet/image-about-hero.jpg`,
					desktop: `${CONFIG_BASE}/images/about/desktop/image-about-hero.jpg`
				}}
				alt="Image of a screen displaying the Manage project"
				width="375"
				height="320"
			/>
		</div>
	</section>

	<section class="talent section | l-wrapper">
		<div class="section__inner | l-columns">
			<CompPicture
				class="l-columns--2-5"
				src={`${CONFIG_BASE}/images/about/mobile/image-world-class-talent.jpg`}
				srcset={{
					mobile: `${CONFIG_BASE}/images/about/mobile/image-world-class-talent.jpg`,
					tablet: `${CONFIG_BASE}/images/about/tablet/image-world-class-talent.jpg`,
					desktop: `${CONFIG_BASE}/images/about/desktop/image-world-class-talent.jpg`
				}}
				alt="Image of a screen displaying the Manage project"
				width="375"
				height="320"
			/>
			<div class="section__content | l-columns--3-5 l-region l-box l-flow">
				<h2>World-class talent</h2>
				<p>We are a crew of strategists, problem-solvers, and technologists. Every design is thoughtfully crafted from concept to launch, ensuring success in its given market. We are constantly updating our skills in a myriad of platforms.</p>

				<p>Our team is multi-disciplinary and we are not merely interested in form — content and meaning are just as important. We give great importance to craftsmanship, service, and prompt delivery. Clients have always been impressed with our high-quality outcomes that encapsulates their brand’s story and mission.</p>
			</div>
		</div>
	</section>

	<section class="values | l-wrapper l-switcher">
		<CompCard 
			imgSrc={`${CONFIG_BASE}/images/shared/desktop/illustration-canada.svg`} 
			imgAlt="Picture of Canadian landmark" 
			title="Canada"
			description="see location"
			variant="button"
		/>
		<CompCard
			imgSrc={`${CONFIG_BASE}/images/shared/desktop/illustration-australia.svg`} 
			imgAlt="Picture of Australian landmark" 
			title="Australia"
			description="see location"
			variant="button"
		/>
		<CompCard
			imgSrc={`${CONFIG_BASE}/images/shared/desktop/illustration-united-kingdom.svg`} 
			imgAlt="Picture of British landmark" 
			title="United Kingdom"
			description="see location"
			variant="button"
		/>
	</section>
</Layout>

<style lang="scss">
  @use "../styles/10-functions/theme-accessor" as *;
  @use "../styles/20-mixins/media-query" as *;
	
	section {
		margin-block-end: var(--space-region);
	}
	
	.section {
		--space-columns: 0;
		--space-wrapper: 0;
		--space-box: var(--space-s-2xl);
		--space-flow: 2em;
		z-index: 1;
	}

	.header {
		margin-block-end: 0;
	}
	
	.section__inner {
		--columns: 1;
		align-items: stretch;
	}

	.section__content {
		--space-region: var(--space-region-s);
		text-align: center;
		grid-row-start: 2;
		position: relative;
		border: none;
		min-block-size: 100%;
		overflow: hidden;
	}
	
	.header .section__content {
		color: get(color, white);
	}
	
	.talent .section__content h2 {
		color: get(color, peach);
	}

	.section__content::before {
		content: "";
		position: absolute;
		inset: 0;
		background-repeat: no-repeat;
    z-index: -1;
	}

	.header .section__content::before {
		background-color: get(color, peach);
		background-image: url('/images/home/desktop/bg-pattern-hero-home.svg');
		background-position: bottom 5rem left 10rem;
		scale: 1;
	}

	.talent .section__content::before {
		background-color: #fdf3f1;
		background-image: url('/images/shared/desktop/bg-pattern-three-circles.svg');
		background-position: top 0rem left 0rem;
		scale: 1.5;
	}
	
	:global(.about) .header :global(picture)  {
		--frame-width: 375;
		--frame-height: 320;
		grid-row-start: 1;
	}

	.values {
		--space-switcher: var(--space-region);
		--space-sidebar: var(--space-xl);
		--switcher-item-target-width: 99rem;
	}

	@include media-query(from, tablet) {
		section {
			margin-block-end: var(--space-region);
		}

		.section {
			--space-wrapper: unset;
		}

		.section__inner {
			border-radius: var(--radius-l);
			overflow: hidden;
			border: var(--border);
		}

		.header {
			margin-block-end: var(--space-region);
		}

		.header .section__content::before {
			content: "";
			background-position: bottom 5rem right 10rem;
			scale: 1;
		}
		
		:global(.about) .talent :global(picture)  {
      --frame-width: 689;
      --frame-height: 320;
		}

		:global(.about) .header :global(picture)  {
      --frame-width: 689;
      --frame-height: 320;
		}

		.values {
			--space-switcher: var(--space-region);
			--space-sidebar: var(--space-xl);
			--sidebar-target-width: var(--item-size-min);
			--sidebar-content-min-width: 50%;
		}

		// Specific to About Page
		.values :global(.l-sidebar) {
			flex-direction: column;
		}

		.values :global(.not-sidebar) {
			text-align: center;
		}
		
		.values :global(.value__image img) {
			inline-size: 50%;
		}
	}

	@include media-query(from, desktop) {
		.section__inner {
			--columns: 12;
		}

		.section__content {
			text-align: left;
			grid-row-start: unset;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.header .section__content::before {
			content: "";
			background-position: bottom 5rem right 5rem;
			scale: 1.3;
		}
		
		.section__content p {
			max-inline-size: 50ch;
		}

		:global(.about) .talent :global(picture)  {
      --frame-width: 476;
      --frame-height: 640;
			grid-row-start: unset;
		}

		:global(.about) .header :global(picture)  {
      --frame-width: 476;
      --frame-height: 480;
			grid-row-start: unset;
		}
		
		.values {
			--switcher-item-target-width: 0.01rem;
			justify-content: center
		}
		
		:global(.about) :global(.values) {
			--space-switcher: var(--space-l);
		}

		.values .l-sidebar {
			justify-content: center
		}

		.value__image {
			inline-size: 100%;
		}

		.values :global(.value__image img) {
			inline-size: 70%;
		}

		// Specific to About Page
		.values :global(.l-sidebar) {
			flex-direction: row;
		}
	}
</style>