---
// Imports
import Layout from '../layouts/Layout.astro';
import { CONFIG_BASE } from "../consts.ts";
import CompPicture from '../components/CompPicture.astro';

// Static Data
const metaTitle = "Locations";
const metaDescription = "Explore Designo's global presence. Find our offices in various locations worldwide and discover how we can help you with web development, app design, and brand experiences.";
---

<Layout {metaTitle} {metaDescription} variant="call-to-action">
	<section class="locations | l-wrapper">
		<h1 class="u-sr-only">Our Locations</h1>
		
		<div class="location | l-columns">
			<div class="location__content g-block | l-columns--2-3 l-box l-flow">
				<h2>Canada</h2>
				<div class="l-switcher">
					<p>
						<b>Designo Central Office</b><br>
						3886 Wellington Street<br>
						Toronto, Ontario M9C 3J5<br>
					</p>
					<p>
						<b>Contact </b><br>
						P : +1 253-863-8967<br>
						M : contact@designo.co<br>
					</p>
				</div>
			</div>

			<div class="location__map | l-columns--1-3">
				<CompPicture
					src={`${CONFIG_BASE}/images/locations/desktop/image-map-canada.png`}
					srcset={{
						mobile: `${CONFIG_BASE}/images/locations/desktop/image-map-canada.png`,
						tablet: `${CONFIG_BASE}/images/locations/tablet/image-map-canada.png`,
						desktop: `${CONFIG_BASE}/images/locations/desktop/image-map-canada.png`
					}}
					alt="Map of Canada"
					width="375"
					height="320"
				/>
			</div>
		</div>
		
		<div class="location | l-columns">
			<div class="location__content g-block | l-columns--2-3 l-box l-flow">
				<h2>Australia</h2>
				<div class="l-switcher">
					<p>
						<b>Designo AU Office</b><br>
						19 Balonne Street<br>
						New South Wales 2443<br>
					</p>
					<p>
						<b>Contact </b><br>
						P : (02) 6720 9092<br>
						M : contact@designo.au<br>
					</p>
				</div>
			</div>

			<div class="location__map | l-columns--1-3">
				<CompPicture
					src={`${CONFIG_BASE}/images/locations/desktop/image-map-australia.png`}
					srcset={{
						mobile: `${CONFIG_BASE}/images/locations/desktop/image-map-australia.png`,
						tablet: `${CONFIG_BASE}/images/locations/tablet/image-map-australia.png`,
						desktop: `${CONFIG_BASE}/images/locations/desktop/image-map-australia.png`
					}}
					alt="Map of Australia"
					width="375"
					height="320"
				/>
			</div>
		</div>
		
		<div class="location | l-columns">
			<div class="location__content g-block | l-columns--2-3 l-box l-flow">
				<h2>United Kingdom</h2>
				<div class="l-switcher">
					<p>
						<b>Designo UK Office</b><br>
						13  Colorado Way<br>
						Rhyd-y-fro SA8 9GA<br>
					</p>
					<p>
						<b>Contact </b><br>
						P : 078 3115 1400<br>
						M : contact@designo.uk<br>
					</p>
				</div>
			</div>

			<div class="location__map | l-columns--1-3">
				<CompPicture
					src={`${CONFIG_BASE}/images/locations/desktop/image-map-united-kingdom.png`}
					srcset={{
						mobile: `${CONFIG_BASE}/images/locations/desktop/image-map-united-kingdom.png`,
						tablet: `${CONFIG_BASE}/images/locations/tablet/image-map-uk.png`,
						desktop: `${CONFIG_BASE}/images/locations/desktop/image-map-united-kingdom.png`
					}}
					alt="Map of United Kingdom"
					width="375"
					height="320"
				/>
			</div>
		</div>
	</section>
</Layout>

<style lang="scss">
  @use "../styles/10-functions/theme-accessor" as *;
  @use "../styles/20-mixins/media-query" as *;
		
	section {
		margin-block-end: var(--space-region);
	}

	.locations {
		--space-wrapper: 0;
	}
			
	.locations .location:last-of-type .location__content {
		border-block-end: 0;
	}

	.location {
		--columns: 1;
		grid-gap: 0;
	}

	.location ~ .location {
		margin-block-start: var(--space-gutter-s);
	}

	.location:nth-of-type(even) {
		direction: rtl;
	}

	.location:nth-of-type(even) .location__content {
		direction: ltr;
	}

	.location__content {
		--space-switcher: 1.5em 0;
		--box-radius: 0;
		--switcher-item-target-width: 99rem;
		text-align: center;
		grid-row-start: 2;
		border: 0;
		border-block-end: var(--border);
	}
	
	.location__content::before {
		--radius-l: 0;
		background-color: #fdf3f1;
		background-image: url('/images/home/desktop/bg-pattern-hero-home.svg');
		background-position: bottom 5rem left 10rem;
		scale: 1;
	}

	.location__content h2 {
		color: get(color, peach);
	}

	.location__map {
		display: flex;
	}
	
	.location__map :global(picture) {
		--frame-width: 375;
		--frame-height: 320;
		inline-size: 100%;
	}

	@include media-query(from, tablet) {
		.locations {
			--space-wrapper: unset;
		}

		.location {
			grid-gap: var(--space-gutter-s);
		}

		.location ~ .location {
			margin-block-start: var(--space-region);
		}
		
		.locations .location:last-of-type .location__content {
			border-block-end: var(--border);
		}

		.location__content {
			--switcher-item-target-width: 0.01rem;
			--box-radius: var(--radius-l);
			text-align: start;
			border: var(--border);
		}

		.location__content::before {
			--radius-l: unset;
		}

		.location__map :global(picture) {
			--frame-width: 689;
			--frame-height: 326;
			border-radius: var(--radius-l);
		}
	}

	@include media-query(from, desktop) {
		.location {
			--columns: 12;
		}
		
		.location ~ .location {
			margin-block-start: var(--space-gutter-s);
		}

		.location__content {
			--space-switcher: 1.5em var(--space-gutter);
			grid-row-start: unset;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.location__map :global(picture) {
			--frame-width: 375;
			--frame-height: 320;
		}
	}
</style>