---
const { href, text, variant = "primary", ariaLabel, class: classList = "", ...attributes } = Astro.props;
const buttonClasses = `button ${classList}`.trim();
---

{href ? (
  <a class={buttonClasses} href={href} data-button-variant={variant} aria-label={ariaLabel || text} {...attributes}>
    <span inert>{text}</span>   
  </a>
) : (
  <button class={buttonClasses} data-button-variant={variant} aria-label={ariaLabel || text} {...attributes}>
    <span inert>{text}</span>
  </button>
)}
