---
// Imports
import { CONFIG_BASE } from "../consts";

// Comp Props
const { item, metaTitle } = Astro.props;

// Dynamic Data & Logic
function slugify(title) {
  return title.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, '');
}
---

<li class="item">
  <a href="" class="item__inner">
    <img 
      class="item__image | l-frame" 
      src={`${CONFIG_BASE}/images/${slugify(metaTitle)}/desktop/image-${slugify(item.data.title)}.jpg`} 
      alt="">
    <div class="item__content | l-box l-flow">
      <h3>{item.data.title}</h3>
      <p>{item.data.description}</p>
    </div>
  </a>
</li>

<style lang="scss">
	@use "../styles/10-functions/theme-accessor" as *;
	@use "../styles/20-mixins/media-query" as *;


  .item {
    --frame-width: 700;
		--frame-height: 640;
    display: flex;
  }

  .item__inner:hover .item__content,
  .item__inner:focus-visible .item__content {
    background-color: get(color, peach);
  }
  
  .item__inner:hover .item__content *,
  .item__inner:focus-visible .item__content * {
    color: get(color, white);
  }
  
  .item__inner {
    border-radius: var(--radius-l);
    inline-size: 100%;
    display: inline-flex;
    flex-direction: column;
    text-decoration: none;
  }

  .item__image {
    border-radius: var(--radius-l) var(--radius-l) 0 0;
  }

  .item__content {
    --box-radius: 0 0 var(--radius-l) var(--radius-l);
    flex-grow: 1;
    background-color: #fdf3f0;
    color: get(color, black);
    text-align: center;

  }

  .item__content h3 {
    color: get(color, peach);
    text-transform: uppercase;
  }
  .item__content p {
    max-inline-size: 30ch;
    margin-inline: auto;
  }


	@include media-query(from, tablet) {
    .item__inner {
      flex-direction: row;
    }

    .item__image {
      border-radius: var(--radius-l) 0 0 var(--radius-l);
      flex-grow: 1;
      flex-basis: 50%
    }

    .item__content {
      --box-radius: 0 var(--radius-l) var(--radius-l) 0;
      flex-grow: 1;
      flex-basis: 50%;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
    }
	}

  @include media-query(from, desktop) {
    .item {
      --switcher-item-target-width: 99rem;
    }

    .item__inner {
      flex-direction: column;
    }

    .item__image {
      border-radius: var(--radius-l) var(--radius-l) 0 0;
      flex-grow: unset;
      flex-basis: unset;
    }

    .item__content {
      --box-radius: 0 0 var(--radius-l) var(--radius-l);
      flex-grow: 1;
      flex-basis: unset;
      display: block;
    }
  }
</style>