---
// Component Props remain unchanged
const { href, text, variant = "primary", ariaLabel } = Astro.props;
---

{href ? (
  <a class="button" href={href} data-button-variant={variant} aria-label={ariaLabel || text}>
    <span inert>{text}</span>   
  </a>
) : (
  <button class="button" data-button-variant={variant} aria-label={ariaLabel || text}>
    <span inert>{text}</span>
  </button>
)}

<!-- <style lang="scss">
  @use "../styles/20-mixins/media-query" as *;
  @use "../styles/10-functions/theme-accessor" as *;
</style> -->